
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(http://localhost/pinasikat/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(http://localhost/pinasikat/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(http://localhost/pinasikat/material-icons/MaterialIcons-Regular.woff) format('woff'),
       url(http://localhost/pinasikat/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* label color */
.input-field label {
 color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid green;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid red;
 box-shadow: 0 1px 0 0 #000;
}

/* label focus color */
.input-field input[type=password]:focus + label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=password].valid {
 border-bottom: 1px solid green;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=password].invalid {
 border-bottom: 1px solid red;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}

.

.left-side-nav {
	background-color: white;
}

.side-nav li a{
	color: black;
}

.left-side-nav {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 240px;
	margin-top: 64px;
	height: 100%;
}

.left-side-nav li {
	width: 100%;
}

.left-side-nav li a {
	color: black;
	margin-left: 15px;
}

main{
	padding-left: 240px;
}

@media only screen and (max-width: 992px){
	main {
		padding-left: 0px;
	}
}

.dropdown-content li a {
	color: black;
}